*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clear{
    clear: both;
}
html{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.header__contact{
    float: left;
}
.header__social{
    float: right;
}
.header-top{
    background-color: black;
}
.header__contact a{
     color: white;
     text-decoration: none;
}
.header__contact span{
    color: white;
    margin-left: 35px;
}
.header__social ul{
    list-style: none;
}
.header__social li{
    display: inline;
    margin-left: 35px;
}
.header__social i{
    color: white;
}
.header__social i:hover{
    color: red;
}